extends ../index.pug

block body
    form#wordcloud.d-flex.row.px-3.mt-2(action="/wordcloud" method="post" target="_top")
        fieldset.justfy-center
            textarea#exampleFormControlTextarea1.form-control(
                name="text"
                rows="10"
                placeholder="Type your text here."
            )/

            //- input.form-control.me-2(
            //-     name="text"
            //-     placeholder="Search"
            //-     aria-label="Search"
            //- )
            
            button.btn.btn-outline-success.d-flex.mx-auto.mt-4(type="submit") Search
           
    
    .d-flex.row.justify-content-center.w-50.mx-auto
        image#image.d-flex(src="{{path}}")
        a#permalink.d-flex.mx-auto(href="{{filename}}") permalink


block script
    script(type="module" src="./base.js")