{% extends "index.html" %}

{% block body %}
<form class="d-flex row px-3 mt-2" action="/wordcloud" method="post" id="wordcloud" target="_top">
    <fieldset class="justfy-center">
        <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        {#
    <input
      name="text"
      class="form-control me-2"
      placeholder="Search"
      aria-label="Search"
    />
    #}
        <button class="btn btn-outline-success d-flex mx-auto mt-4" type="submit">
            Search
        </button>
    </fieldset>
</form>
<div class="d-flex row justify-content-center w-50 mx-auto">
    <image class="d-flex" id="image" src="{{path}}" />
    <a id="permalink" class="d-flex mx-auto" href="{{filename}}">permalink</a>
</div>
{% endblock %}